<div class="main-sidebar p-3 rtl">
  <img
    [routerLink]="['']"
    class="logo mb-3 me-2 pointer"
    src="/assets/images/logo-50.png"
  />
  <div class="d-flex">
    <i class="fa-solid fa-square-plus f-13" (click)="addMenu(tree)"></i>
  </div>
  <tree-root #tree [options]="options" [nodes]="nodes" [state]="state">
    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <div
          class="node-content-wrapper"
          [class.node-content-wrapper-active]="node.isActive"
          [class.node-content-wrapper-focused]="node.isFocused"
          (treeDrop)="node.onDrop($event)"
          [treeAllowDrop]="node.allowDrop"
          [treeDrag]="node"
          [treeDragEnabled]="node.allowDrag()"
          (click)="menuClick(node)"
        >
          <div class="sub-menu gap-3 position-relative">
            <div class="d-flex align-items-center gap-1 f-14 fw-bold">
              <input
                type="checkbox"
                [checked]="node.isActive"
                (change)="node.toggleActivated(true)"
              />
              <ng-container *ngIf="node.data.image; else icon">
                <img [src]="'/assets/images/' + node.data.image" />
              </ng-container>
              <ng-template #icon>
                <i [class]="'f-12 ' + node.data.icon"></i>
              </ng-template>
              <p>{{ node.data.name }}</p>
            </div>
            <div class="position-absolute holder-icon">
              <div class="d-flex justify-content-between">
                <i
                  class="fa-solid fa-square-plus f-12"
                  (click)="addNode(tree, node)"
                ></i>
                <i
                  class="fa-solid fa-trash f-12"
                  (click)="removeNode(tree, node)"
                ></i>
                <i
                  class="fa-regular fa-pen-to-square f-12"
                  (click)="editNode(tree, node)"
                ></i>
                <ng-container *ngIf="node?.data?.children?.length > 0">
                  <span (click)="node.toggleExpanded()">
                    <i class="fa-solid fa-angle-up" *ngIf="node.isExpanded"></i>
                    <i
                      class="fa-solid fa-chevron-down"
                      *ngIf="node.isCollapsed"
                    ></i>
                  </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <template #loadingTemplate>Loading, please hold....</template>
  </tree-root>
</div>
