<div class="gap-3 overflow-auto rtl h-96-5vh pb-mobile">
  <div class="row">
    <h1 class="fw-bold my-3">داشبورد</h1>
    <div class="col-lg rtl p-3 pb-5">
      <div class="d-flex flex-column justify-content-between align-items-center gap-3 pb-4 border-bottom">
        <div class="class-box bg-red p-3 d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-3">
            <img src="/assets/images/i-red.svg"/>
            <div>
              <p class="red">4 دوره</p>
              <p class="f-13">کل دوره‌های من</p>
            </div>
          </div>
          <i class="icon-fo-arrow-left-curved2 f-30 red"></i>
        </div>

        <div class="class-box bg-purple p-3 d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-3">
            <img src="/assets/images/i-purple.svg"/>
            <div>
              <p class="purple">24 کلاس</p>
              <p class="f-13">کلاس‌های شرکت شده</p>
            </div>
          </div>
          <i class="icon-fo-arrow-left-curved2 f-30 purple"></i>
        </div>

        <div class="class-box bg-orange p-3 d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-3">
            <img src="/assets/images/i-orange.svg"/>
            <div>
              <p class="orange">16 کلاس</p>
              <p class="f-13">کلاس‌های پیش رو</p>
            </div>
          </div>
          <i class="icon-fo-arrow-left-curved2 f-30 orange"></i>
        </div>
      </div>

      <div class="mt-4 pb-4 border-bottom">
        <div class="d-flex align-items-center gap-3">
          <img src="/assets/images/i-work.svg" />
          <p class="f-18">دوره‌های فعال من</p>
        </div>

        <div class="d-flex flex-column justify-content-between align-items-center mt-3 gap-3">
          <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column gap-1">
                <p class="f-22 fw-bold">Introduction to English</p>
                <div class="d-flex align-items-center gap-2">
                  <img src="/assets/images/flags/flag-eng.svg" />
                  <p class="f-13">English</p>
                  <p class="f-12 gray">|</p>
                  <p class="f-12 red">ویدیو</p>
                </div>
              </div>
              <img class="blog-img" src="/assets/images/blog/blog-1.png" />
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <i class="icon-fo-calendar f-18"></i>
                <p class="f-12 gray">جلسه پیش رو</p>
              </div>
              <p class="f-12 ltr">1401-05-13 - 13:00</p>
            </div>
            <hr>
            <div class="ltr d-flex justify-content-between align-items-center gap-2">
              <p class="f-12">36%</p>
              <div class="d-block w-100">
                <ngb-progressbar type="info" [value]="36"></ngb-progressbar>
              </div>
              <p class="f-12">3/9</p>
            </div>
          </div>

          <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column gap-1">
                <p class="f-22 fw-bold">Introduction to Italy</p>
                <div class="d-flex align-items-center gap-2">
                  <img src="/assets/images/flags/flag-italy.svg" />
                  <p class="f-13">Italy</p>
                  <p class="f-12 gray">|</p>
                  <p class="f-12 red">حضوری</p>
                </div>
              </div>
              <img class="blog-img" src="/assets/images/blog/blog-2.png" />
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <i class="icon-fo-calendar f-18"></i>
                <p class="f-12 gray">جلسه پیش رو</p>
              </div>
              <p class="f-12 ltr">1401-05-13 - 13:00</p>
            </div>
            <hr>
            <div class="ltr d-flex justify-content-between align-items-center gap-2">
              <p class="f-12">80%</p>
              <div class="d-block w-100">
                <ngb-progressbar type="info" [value]="80"></ngb-progressbar>
              </div>
              <p class="f-12">7/9</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 pb-4 border-bottom">

        <div class="d-flex flex-column justify-content-between align-items-center gap-3">
          <div class="d-flex flex-column gap-3 w-100">
            <div class="d-flex align-items-center gap-3">
              <img src="/assets/images/i-graph.svg" />
              <p class="f-18">نمودار پیشرفت شما</p>
            </div>
            <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3">
              <div class="d-flex gap-4">
                <div class="d-flex align-items-center gap-2 blue">
                  <span class="f-10">⬤</span>
                  <span class="f-12">English</span>
                </div>
                <div class="d-flex align-items-center gap-2 orange">
                  <span class="f-10">⬤</span>
                  <span class="f-12">Italy</span>
                </div>
              </div>
              <hr>
              <app-spider-web class="d-flex justify-content-center"></app-spider-web>
            </div>
          </div>

          <div class="d-flex flex-column gap-3 w-100">
            <div class="d-flex align-items-center gap-3">
              <img src="/assets/images/i-chart.svg" />
              <p class="f-18">نمودار موضوعی کلاس‌ها</p>
            </div>
            <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3 pb-0">

              <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <a class="f-12" ngbNavLink>English</a>
                  <ng-template ngbNavContent>
                    <app-column-stack-bar></app-column-stack-bar>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a class="f-12" ngbNavLink>Italy</a>
                  <ng-template ngbNavContent>
                    <app-column-stack-bar></app-column-stack-bar>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav"></div>

            </div>
          </div>
        </div>

      </div>

      <div class="mt-3">

        <div class="d-flex align-items-center gap-3">
          <img src="/assets/images/i-projector.svg" />
          <p class="f-18">کلاس‌های پیش رو</p>
        </div>

        <div class="mt-3 d-flex flex-column gap-3">

          <div class="d-flex flex-column justify-content-between align-items-center bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex align-items-center gap-3">
                <img src="/assets/images/blog/blog-3.png" />
                <div>
                  <p class="f-14 fw-bold">IELTS Graphs</p>
                  <p class="f-11">IELTS Vocabulary</p>
                </div>
              </div>
              <div class="d-flex align-items-center gap-3">
               <i class="icon-fo-more-fill gray f-15 pointer"></i>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <p class="gray f-12">رامین مهربانیان</p>
              <hr class="vertical">
              <p class="blue f-13 fw-bold">در حال برگزاری...</p>
              <hr class="vertical">
              <button class="button btn-sky">ورود به وبینار</button>
            </div>
          </div>

          <div *ngFor="let number of [0,1]"
               class="d-flex flex-column justify-content-between align-items-center bg-white hover-effect transition-02s w-100 radius-20 p-4 gap-3">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex align-items-center gap-3">
                <img src="/assets/images/blog/blog-3.png" />
                <div>
                  <p class="f-14 fw-bold">IELTS Graphs</p>
                  <p class="f-11">IELTS Vocabulary</p>
                </div>
              </div>
              <div class="d-flex align-items-center gap-3">
                <i class="icon-fo-more-fill gray f-15 pointer"></i>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <p class="gray f-12">رامین مهربانیان</p>
              <hr class="vertical">
              <p class="f-13 fw-bold ltr">1401-05-28 - 15:00</p>
              <hr class="vertical">
              <img src="/assets/images/i-time-circle-yellow.svg" />
            </div>
          </div>

        </div>

      </div>

      <div class="mt-3">

        <div class="pb-4 border-bottom w-100">
          <div class="d-flex align-items-center gap-3">
            <img src="/assets/images/i-calendar-fill.svg" />
            <p class="f-18">تقویم</p>
          </div>
          <app-calendar></app-calendar>
          <div class="d-flex gap-4">
            <div class="d-flex align-items-center gap-2 blue">
              <span class="f-10">⬤</span>
              <span class="f-12">16 کلاس پیش رو</span>
            </div>
            <div class="d-flex align-items-center gap-2 orange">
              <span class="f-10">⬤</span>
              <span class="f-12">2 آزمون پیش رو</span>
            </div>
          </div>
        </div>

        <div class="mt-4 pb-4 border-bottom w-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-3">
              <img src="/assets/images/i-edit.svg" />
              <p class="f-18">تمرینات من</p>
            </div>
            <p class="blue f-13 fw-bold pointer">نمایش همه</p>
          </div>

          <div class="d-flex justify-content-between gap-3 mt-3">
            <div class="w-100 h-124px bg-orange-light d-flex flex-column justify-content-between p-3 radius-25">
              <div class="d-flex gap-3">
                <img src="/assets/images/i-edit-orange.svg" />
                <div>
                  <p class="f-14 fw-bold orange">Lesson 2</p>
                  <p class="f-13 orange">Grammer</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="f-12 orange">25min</p>
                <img src="/assets/images/flags/flag-eng.svg" />
              </div>
            </div>
            <div class="w-100 h-124px bg-sky d-flex flex-column justify-content-between p-3 radius-25">
              <div class="d-flex gap-3">
                <img src="/assets/images/i-edit-blue.svg" />
                <div>
                  <p class="f-14 fw-bold blue">Lesson 2</p>
                  <p class="f-13 blue">Grammer</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="f-12 blue">25min</p>
                <img src="/assets/images/flags/flag-italy.svg" />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 pb-4 w-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-3">
              <img src="/assets/images/i-paper.svg" />
              <p class="f-18">آزمون‌های من</p>
            </div>
            <p class="blue f-13 fw-bold pointer">نمایش همه</p>
          </div>

          <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 mt-3 gap-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-3">
                <img class="border-start ps-3" src="/assets/images/i-paper-orange.svg" />
                <div>
                  <p class="f-15">ماک تست تحلیلی</p>
                  <p class="f-11 gray">نوع آزمون: آکادمیک</p>
                </div>
              </div>
              <button class="button btn-gray-light">
                English
                <img src="/assets/images/flags/flag-eng.svg" />
              </button>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="icon-fo-file-doc f-20 gray"></i>
                <p class="f-12 gray">شفاهی: آنلاین</p>
              </div>
              <p class="f-12 ltr">1401-05-28 - 15:00</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="icon-fo-file-doc f-20 gray"></i>
                <p class="f-12 gray">کتبی: آنلاین</p>
              </div>
              <button class="button btn-sky">شروع آزمون</button>
            </div>
          </div>

          <div class="d-flex flex-column bg-white hover-effect transition-02s w-100 radius-20 p-4 mt-3 gap-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-3">
                <img class="border-start ps-3" src="/assets/images/i-paper-blue.svg" />
                <div>
                  <p class="f-15">Exam IELTS</p>
                  <p class="f-11 gray">Introduction to French</p>
                </div>
              </div>
              <button class="button btn-gray-light">
                Italy
                <img src="/assets/images/flags/flag-italy.svg" />
              </button>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center gap-2">
                <i class="icon-fo-file-doc f-20 gray"></i>
                <p class="f-12 gray">کتبی: آنلاین</p>
              </div>
              <button class="button btn-sky">شروع آزمون</button>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!--<div class="col-4 d-flex flex-column align-items-center rtl p-3 px-5">



    </div>-->

  </div>
</div>
