<div class="modal-body">
  <ng-container>
    <div class="row" (keyup.enter)="insertNode()">
      <div class="col-lg-6 text-center">
        <input
          type="file"
          id="input"
          class="file-upload-input d-none"
          accept="image/*"
          placeholder="انتخاب فایل"
          (change)="selectFiles($event)"
        />
        <label for="input" class="border-radius-50">
          <img
            src="assets/images/Add.svg"
            class="img-fluid mx-2 rounded-circle w-75 logo-rest pointer"
          />
        </label>
        <p class="red-color mt-3">انتخاب عکس</p>
      </div>
      <div class="col-lg-6">
        <div class="mb-4 position-relative">
          <input
            type="text"
            id="disabledTextInput"
            placeholder=" "
            [(ngModel)]="node.name"
            class="form-control radius-10 f-14 h-52"
            placeholder="نام منو "
          />
        </div>

        <div class="mb-4 position-relative">
          <input
            type="text"
            id="disabledTextInput"
            placeholder=" "
            [(ngModel)]="node.icon"
            class="form-control radius-10 f-14 h-52"
            placeholder="آیکون"
          />
        </div>
        <div class="mb-4 position-relative">
          <ng-select
            class="f-14"
            [multiple]="false"
            placeholder="انتخاب صفحه"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="node.component"
            [items]="components"
          >
          </ng-select>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="w-100 d-flex border-top pt-2">
    <button
      class="btn btn-orange-light button h-45 ms-3 w-50 f-14 h-60px"
      tabindex="1"
      (click)="activeModal.dismiss('Cross click')"
    >
      انصراف
    </button>
    <button
      class="button btn-blue w-50 h-60px radius-15 f-14 min-w-unset"
      tabindex="0"
      (click)="insertNode()"
    >
      تایید
    </button>
  </div>
</div>
