.main-sidebar {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;

    & .logo {
        width: 170px;
        height: 70px;
    }

    & .sub-menu {
        display: flex;
        flex-direction: column;
     
        & div {
            height: 54px;
            color: #454c50;
            cursor: pointer;
            border-radius: 13px;
            overflow: hidden;
        }

        & .active {
            color: var(--blue) !important;
            background-color: var(--blue-sky) !important;
            & img {
                filter: sepia(1) hue-rotate(130deg) brightness(1.10) contrast(2.0);
            }
        }
    }
}
.scroll{
    overflow-y: scroll;
    max-height: 90%;
}
.height-auto{
    height: auto;
}
.holder-fa{
    left: 1rem;
}
.showMenu{
    height: auto !important;
    overflow:unset !important;
}
ul {
    li{
        list-style: none;
    }
}