<div class="chart-loading-container">
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="138px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="205px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="177px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="106px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="162px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="130px"
    skeletonRounding="none"
  ></div>
  <div
    skeleton
    skeletonWidth="100%"
    skeletonHeight="203px"
    skeletonRounding="none"
  ></div>
</div>
