<div class="d-flex justify-content-bettwen rtl w-100">
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-arrow-rotate-left'"
    [title]="'انصراف ESc'"
    (click)="escapeEvent()"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-screwdriver-wrench'"
    [title]="'ابزار'"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-arrows-rotate'"
    [title]="'بروز رسانی F5'"
    (click)="refrashEvent()"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-circle-info'"
    [title]="'اطلاعات تماس'"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-print'"
    [title]="'چاپ P'"
    (click)="perintEvent()"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-solid fa-file-excel'"
    [title]="'اکسل'"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fa-regular fa-circle-check'"
    [title]="'انتخاب'"
    class="mx-2"
  ></ki-button>
  <ki-button
    [disabled]="disabled"
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fas fa-trash-alt'"
    [title]="'حذف ctrlKey+D'"
    (click)="deleteEvent()"
    class="mx-2"
  ></ki-button>
  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fas fa-edit'"
    [title]="'اصلاح F3'"
    (click)="editEvent()"
    class="mx-2"
  ></ki-button>

  <ki-button
    [varient]="'outline'"
    btnType="danger"
    [iconClassName]="'fas fa-plus '"
    [title]="'جدید F2'"
    (click)="addEvent()"
    class="mx-2"
  ></ki-button>

  <!-- <div ngbDropdown class="dropdown">
    <button
      tabindex="3"
      ngbDropdownToggle
      class="btn f-12"
      type="button"
      id="dropdownMenuButton1"
      aria-expanded="false"
    >
      گزارشات
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
      <li class="f-12 text-end" tabindex="4">
        <a ngbDropdownItem href="#">
          <i class="fas fa-file-excel icon"></i> خروجی اکسل
        </a>
      </li>
      <li class="f-12 text-end" tabindex="5">
        <a ngbDropdownItem href="#">
          <i class="fas fa-file-pdf icon"></i> خروجی پی‌دی‌اف
        </a>
      </li>
    </ul>
  </div> -->
</div>
