<form
  #companyForm="ngForm"
  (ngSubmit)="!companyForm.invalid && submitHandler(companyForm)"
>
  <div class="row">
    <div class="col-4">
      <ki-form-group
        class=""
        [label]="'رمز عبور قبلی'"
        [showRequireSign]="true"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (oldPassword.touched || companyForm.submitted) &&
            oldPassword.errors?.required
          )
        "
      >
        <ki-input
          name="oldPassword"
          [type]="typePassword ? 'password' : 'text'"
          [(ngModel)]="model.oldPassword"
          #oldPassword="ngModel"
          required
        ></ki-input>
        <i
          class="fa-solid pointer"
          [ngClass]="typePassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="changeType()"
        ></i>
      </ki-form-group>
      <ki-form-group
      class=""
      [label]="'رمز عبور جدید'"
      [showRequireSign]="true"
      [errorMessage]="'فیلد اجباری'"
      [hideError]="
        !(
          (newPassword.touched || companyForm.submitted) &&
          newPassword.errors?.required
        )
      "
    >
      <ki-input
        name="newPassword"
        [type]="typePassword ? 'password' : 'text'"
        [(ngModel)]="model.newPassword"
        #newPassword="ngModel"
        required
      ></ki-input>
      <i
        class="fa-solid pointer"
        [ngClass]="typePassword ? 'fa-eye' : 'fa-eye-slash'"
        (click)="changeType()"
      ></i>
    </ki-form-group>
    </div>
  </div>

  <input type="submit" [hidden]="true" [attr.id]="submitButtonId" />
</form>
