:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
}


.box span{
  margin-right: 5px;
}
.fa-solid{
  position: absolute;
  left: 9px;
  top: 9px;
  opacity: 0.5;
}