<form
  #companyForm="ngForm"
  (ngSubmit)="!companyForm.invalid && submitHandler(companyForm)"
>
  <div class="row">
    <div class="col-4">
      <ki-form-group
        [label]="'نام شرکت'"
        [showRequireSign]="true"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (companyName.touched || companyForm.submitted) &&
            companyName.errors?.required
          )
        "
      >
        <ki-input
          name="companyName"
          [(ngModel)]="companyModel.companyName"
          #companyName="ngModel"
          required
        ></ki-input>
      </ki-form-group>
    </div>
    <div class="col-4">
      <ki-form-group
        [label]="'کد شرکت'"
        [showRequireSign]="true"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (companyUniqCode.touched || companyForm.submitted) &&
            companyUniqCode.errors?.required
          )
        "
      >
        <ki-input
          name="companyUniqCode"
          [(ngModel)]="companyModel.companyUniqCode"
          #companyUniqCode="ngModel"
          required
        ></ki-input>
      </ki-form-group>
    </div>
    <div class="col-4">
      <ki-form-group
        [label]="'نام شهر'"
        [showRequireSign]="false"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (cityId.touched || companyForm.submitted) &&
            cityId.errors?.required
          )
        "
      >
        <ki-select
          [options]="cityOptions"
          [allowClear]="true"
          [(ngModel)]="companyModel.cityId"
          name="cityId"
          #cityId="ngModel"
          [isloading]="lockupsIsLoading"
        ></ki-select>
      </ki-form-group>
    </div>
  </div>
  <div class="row">
    <div class="col-4" *ngIf="hidePassword">
      <ki-form-group
        class=""
        [label]="'رمز عبور'"
        [showRequireSign]="true"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (companyPassword.touched || companyForm.submitted) &&
            companyPassword.errors?.required
          )
        "
      >
        <ki-input
          name="companyPassword"
          [type]="typePassword ? 'password' : 'text'"
          [(ngModel)]="companyModel.companyPassword"
          #companyPassword="ngModel"
          required
        ></ki-input>
        <i
          class="fa-solid pointer"
          [ngClass]="typePassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="changeType()"
        ></i>
      </ki-form-group>
    </div>
    <div class="col-4">
      <ki-form-group
        class=""
        [label]="'تلفن'"
        [showRequireSign]="true"
        [errorMessage]="
          companyTel.errors?.isInvalid ? 'فرمت اشتباه' : 'فیلد اجباری'
        "
        [hideError]="
          !(
            ((companyTel.touched || companyForm.submitted) &&
              companyTel.errors?.required) ||
            companyTel.errors?.isInvalid
          )
        "
      >
        <ki-input
          name="companyTel"
          [type]="'tel'"
          [(ngModel)]="companyModel.companyTel"
          #companyTel="ngModel"
          required
        ></ki-input>
      </ki-form-group>
    </div>
    <div class="col-4">
      <ki-form-group
        class=""
        [label]="'موبایل'"
        [showRequireSign]="true"
        [errorMessage]="
          companyMobile.errors?.isInvalid ? 'فرمت اشتباه' : 'فیلد اجباری'
        "
        [hideError]="
          !(
            ((companyMobile.touched || companyForm.submitted) &&
              companyMobile.errors?.required) ||
            companyMobile.errors?.isInvalid
          )
        "
      >
        <ki-input
          name="companyMobile"
          [type]="'phone'"
          [(ngModel)]="companyModel.companyMobile"
          #companyMobile="ngModel"
          required
        ></ki-input>
      </ki-form-group>
    </div>
  </div>
  <div class="row">
    <ki-form-group
      class="col-4"
      [label]="'ایمیل'"
      [showRequireSign]="true"
      [errorMessage]="email.errors?.isInvalid ? 'فرمت اشتباه' : 'فیلد اجباری'"
      [hideError]="
        !(
          ((email.touched || companyForm.submitted) &&
            email.errors?.required) ||
          email.errors?.isInvalid
        )
      "
    >
      <ki-input
        name="email"
        [type]="'emial'"
        [(ngModel)]="companyModel.email"
        #email="ngModel"
        required
      ></ki-input>
    </ki-form-group>
    <ki-form-group
      class="col-4"
      [label]="'نوع شرکت'"
      [showRequireSign]="false"
      [errorMessage]="'فیلد اجباری'"
      [hideError]="
        !(
          (companyType.touched || companyForm.submitted) &&
          companyType.errors?.required
        )
      "
    >
      <ki-select
        [options]="companyTypeOptions"
        [allowClear]="true"
        [(ngModel)]="companyModel.companyTypeId"
        name="companyType"
        #companyType="ngModel"
        [isloading]="lockupsIsLoading"
      ></ki-select>
    </ki-form-group>
    <ki-form-group
      class="col-4"
      [label]="'وضعیت'"
      [showRequireSign]="true"
      [errorMessage]="'فیلد اجباری'"
      [hideError]="
        !(
          (companyStatus.touched || companyForm.submitted) &&
          companyStatus.errors?.required
        )
      "
    >
      <ki-select
        [options]="companyStatusIdOptions"
        [allowClear]="true"
        [(ngModel)]="companyModel.statusId"
        name="companyStatus"
        #companyStatus="ngModel"
        required
      ></ki-select>
    </ki-form-group>
  </div>
  <div class="row">
    <div class="col-12">
      <ki-form-group
        class=""
        [label]="'آدرس'"
        [showRequireSign]="true"
        [errorMessage]="'فیلد اجباری'"
        [errorMessage]="'فیلد اجباری'"
        [hideError]="
          !(
            (companyAddress.touched || companyForm.submitted) &&
            companyAddress.errors?.required
          )
        "
      >
        <ki-textarea
          [(ngModel)]="companyModel.companyAddress"
          name="companyAddress"
          #companyAddress="ngModel"
          required
        ></ki-textarea>
      </ki-form-group>
    </div>
  </div>

  <input type="submit" [hidden]="true" [attr.id]="submitButtonId" />
</form>
