
.post-loading-container {
  border: 1px solid #ECF0F4;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  & .post-loading-body {

    & .post-loading-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      & div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    & div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }
}
