<div class="post-loading-container">
  <div class="post-loading-body">
    <div class="post-loading-top">
      <div>
        <div
          skeleton
          skeletonWidth="43px"
          skeletonHeight="43px"
          skeletonRounding="circle"
        ></div>
        <div
          skeleton
          skeletonWidth="100px"
          skeletonHeight="20px"
          skeletonRounding="large"
        ></div>
      </div>
      <div
        skeleton
        skeletonWidth="75px"
        skeletonHeight="20px"
        skeletonRounding="large"
      ></div>
    </div>
    <div
      skeleton
      skeletonWidth="100%"
      skeletonHeight="350px"
      skeletonRounding="large"
    ></div>
    <div>
      <div
        skeleton
        skeletonWidth="140px"
        skeletonHeight="20px"
        skeletonRounding="large"
      ></div>
      <div
        skeleton
        skeletonWidth="75px"
        skeletonHeight="20px"
        skeletonRounding="large"
      ></div>
    </div>
  </div>
</div>
