<div>
  <input
    type="file"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    class="d-none"
    #file
    (change)="onFileChange($event)"
  />
  <app-tools-bar
    *ngIf="activeToolBar"
    (NewSelected)="onNewSelected()"
    [countItemEdited]="countItemEdited"
    (ImportExcelSelected)="file.click()"
    (CancelSelected)="onCancel()"
    (SaveSelected)="SaveSelected()"
    (DesignerclickEvent)="designerclickEvent($event)"
    [isShowToolbar]="_isEditMode"
  ></app-tools-bar>
  <!-- [rowClassRules]="rowClassRules" -->
  <ag-grid-angular
    id="myGrid"
    [id]="idGrid"
    [class]="class"
    [columnDefs]="columnsTable"
    [suppressAggFuncInHeader]="true"
    [suppressRowClickSelection]="true"
    [rowGroupPanelShow]="'always'"
    [pivotPanelShow]="'always'"
    [defaultColDef]="defaultColDef"
    [getContextMenuItems]="getContextMenuItems"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [rowData]="rowData"
    rowSelection="single"
    (columnGroupOpened)="changeModel.next()"
    (filterChanged)="changeModel.next()"
    (gridColumnsChanged)="changeModel.next()"
    [gridOptions]="gridOptions"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="cellValueChanged($event)"
    [enableFillHandle]="enableFillHandle"
    [undoRedoCellEditing]="undoRedoCellEditing"
    [undoRedoCellEditingLimit]="undoRedoCellEditingLimit"
    [enableCellChangeFlash]="enableCellChangeFlash"
    [suppressAggFuncInHeader]="suppressAggFuncInHeader"
    [asyncTransactionWaitMillis]="asyncTransactionWaitMillis"
    (asyncTransactionsFlushed)="onAsyncTransactionsFlushed($event)"
    [getRowId]="getRowId"
  ></ag-grid-angular>
  <!-- <div id="myChart" class="ag-theme-quartz my-chart"></div> -->
</div>
